<h1>Name: <%=@student.to_s %></h1>
<h1>Active: <%=link_to @student.to_active, "/students/#{@student.id}/active" %></h1>
<% if @student.active %>
<h1>This student is currently active.</h1>
<% else %>
<h1>This student is currently inactive.</h1>
<% end %>